/* ------------------------------------------- */
/*                  URBAN                      */
/* ------------------------------------------- */

@font-face {
    font-family: 'Urban';
    src: url('../fonts/Urban/UrbanInline.eot');
    src: local('UrbanInline'),
        url('../fonts/Urban/UrbanInline.eot') format('embedded-opentype'),
        url('../fonts/Urban/UrbanInline.woff') format('woff'),
        url('../fonts/Urban/UrbanInline.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ------------------------------------------- */
/*                  URBAN                      */
/* ------------------------------------------- */

@font-face {
    font-family: 'Quentin';
    src: url('../fonts/Quentin/Quentin.eot');
    src: local('Quentin'),
        url('../fonts/Quentin/Quentin.eot') format('embedded-opentype'),
        url('../fonts/Quentin/Quentin.woff') format('woff'),
        url('../fonts/Quentin/Quentin.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}