@import 'mixin';
@import 'fonts';

:root {
  --c-active: #2c72cd;
  --ca-active: 44, 114, 205;
  --c-alter: #223645;
  --ca-alter: 34, 54, 69;
  --c-alter2: #a5897b;
  --ca-alter2: 165, 137, 123;
  --c-alter3: #f3f5f6;
  --ca-alter3: 243, 245, 246;
  --c-grey: #959ba0;
  --ca-grey: 149, 155, 160;
  --c-light: #f9f9f9;
  --ca-light: 249, 249, 249;
  --c-dark: #222222;
  --ca-dark: 34, 34, 34;
  --c-dark2: #555555;
  --ca-dark2: 85, 85, 85;
  --c-white: #fff;
  --ca-white: 255, 255, 255;
  --c-black: #000;
  --ca-black: 0, 0, 0;
  --ls-text: 1.2px;
  --font-1: "Raleway", sans-serif;
  --t-primary-font-family: "Raleway", sans-serif;
  --t-secondary-font-family: "Playfair Display", sans-serif;
  line-height: 1.7;
  font-size: 15px;
  font-family: var(--font-1);
  color: var(--c-grey);
  position: relative;



  @include lg-size-max {
    --ls-text: .8px;
  }
}
:root {

  --btnShadowColor: 0 0 5px 1px rgba(var(--ca-alter3), 0.45);

}

body {
  line-height: 1.7;
  font-size: 15px;
  font-family: var(--font-1);
  color: var(--c-grey);

  @include lg-size-max {
    --ls-text: .8px;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::-webkit-input-placeholder {
  color: var(--c-grey);
}

::-moz-placeholder {
  color: var(--c-grey);
}

:-ms-input-placeholder {
  color: var(--c-grey);
}

:-moz-placeholder {
  color: var(--c-grey);
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
}

:focus {
  outline: 0;
}

a {
  color: var(--c-active);
  outline: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--c-alter);
    text-decoration: none;
  }
}

strong,
b {
  font-weight: bold;
  color: var(--c-dark);
}

ul,
ol {
  font-family: var(--t-primary-font-family);
  list-style-position: inside;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 13px;
  margin-left: 25px;
}

.elementor-text-editor {
  ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 3px;
    @include xs-size-max {
      padding-left: 15px;
    }

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--c-active);
      position: absolute;
      left: 0;
      top: 10px;
      @include xs-size-max {
        width: 7px;
        height: 7px;
      }
    }
  }
}

p {
  margin-bottom: 15px;
}

p.has-large-font-size {
  font-size: 36px;
}

p.has-medium-font-size {
  font-size: 20px;
}

p.has-small-font-size {
  font-size: 13px;
}

p.has-huge-font-size {
  font-size: 48px;
}

/* typography
---------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-alter);
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;

}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 18px;
  line-height: 1.7;
}

h6 {
  font-size: 13px;
}

a {
  font-size: 14px;
}

/* Responsive typography
---------------------------*/
@include xs-size-max {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.overflow-full {
  overflow: hidden;
}

audio,
video,
iframe {
  max-width: 100%;

  @include xs-size-max {
    min-width: 200px !important;
  }
}
.wp-block-audio figcaption{
  color: var(--c-grey);
}
pre, pre.wp-block-preformatted{
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace!important;
  background: var(--c-light-grey);
  color: var(--c-dark);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
  max-width: 100%;
  overflow: auto;
  padding: 25px;

  * {
    margin: 0;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 30px;
  table-layout: fixed;
  width: 100%;
  word-break: break-word;
}

th,
td {
  padding: 7px 10px 5px;
}

table,
th,
td {
  border: 1px solid var(--c-light-grey);
  border-collapse: collapse;
}

.wp-block-table.is-style-stripes.has-subtle-light-gray-background-color tr:nth-child(odd),
.wp-block-table.is-style-stripes tr:nth-child(odd) {
}

th {
  font-weight: bold;
  color: var(--c-dark);
}

dt {
  font-weight: bold;
  color: var(--c-dark);
}

dd {
  margin: 0 0 15px;
}

address {
  font-style: italic;
  margin-bottom: 15px;
}

abbr,
acronym {
  border-bottom: 1px dotted var(--c-light-grey);
  cursor: help;
}

code {
  background-color: var(--c-light-grey);
  color: var(--c-dark);
  font-size: 14px;
  padding: 3px 4px 4px;
  border-radius: 5px;
}

mark,
ins {
  background: var(--c-active);
  color: var(--c-white);
  padding: 0 4px;
  text-decoration: none;
}

kbd {
  font-weight: 100;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  padding: 3px 4px 4px;
  border-radius: 5px;
  background-color: var(--c-light-grey);
  color: var(--c-dark);
}

tt {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 14px;
  padding: 3px 4px 4px;
  border-radius: 5px;
  background-color: var(--c-light-grey);
  color: var(--c-dark);
}

select {
  vertical-align: middle;
  min-width: 100%;
  border: none;
  background: var(--c-light);
  color: var(--c-grey);
  border: 0;
  outline: 1px solid var(--c-light-grey) !important;
  max-height: calc(1.2em + 17px);
  height: calc(1.2em + 17px);
  padding: 6px 10px 5px;
  -webkit-appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23dddddd'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) 16px;
  background-repeat: no-repeat;
  max-width: 100%;

  &:focus {
    outline-offset: 0 !important;
  }
}

.wp-block-image figcaption {
  color: var(--c-grey);
}
.wp-block-button{
  margin: 28px 0;
}
.wp-block-embed figcaption {
  margin-bottom: 0;
}

.fb_iframe_widget > * {
  max-width: 100%;
}

.bypostauthor {
  font-size: inherit;
}

.text-center,
.aligncenter {
  text-align: center;
  clear: both;
}

.text-left,
.alignleft {
  text-align: left;
}

.text-right,
.alignright {
  text-align: right;
}

.alignleft {
  float: left;
  margin: 10px 25px 25px 0;
}

.alignright {
  float: right;
  margin: 10px 0 25px 25px;
}

.alignnone,
div.alignnone {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 25px auto 25px auto;
}

.alignwide {
  clear: both;
}

.no-menu {
  & > a {
    color: var(--c-active);
  }
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  border: none;
  margin: 30px auto 30px;
  padding: 40px 30px 0;
  position: relative;
  @include xs-size-max{
    margin: 15px auto;
    padding: 40px 0 0;

  }

  &::before {
    content: '“';
    position: absolute;
    font-size: 157px;
    color: var(--c-alter);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40px;
    @include xs-size-max{
      font-size: 100px;
    }
  }

  p {
    font-style: normal;
    color: var(--c-alter);
    font-size: 35px;
    font-weight: bold;
    @include sm-size-max{
      font-size: 30px;
    }
    @include xs-size-max{
      font-size: 24px;
    }
  }
}

.wp-block-pullquote:not(.is-style-solid-color) {
  padding: 0;
}

blockquote {
  border-left: 4px solid;
  border-color: var(--c-active);
  margin: 30px auto 30px;
  padding: 0 30px;
  color: var(--c-alter);
  font-size: 25px;
  line-height: 1.5;


  &.has-text-color * {
    color: inherit;
  }

  @include xs-size-max {
    max-width: calc(100% - 30px);
  }

  cite {
    font-size: 13px;
  }
}
.wp-block-quote[style*="text-align:right"],
.wp-block-quote[style*="text-align: right"] {
  border-left: none;
  border-right: 4px solid var(--c-active);
}

.wp-block-pullquote {
  border-color: var(--c-active);

  blockquote {
    border-color: inherit;
  }
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

.notfound {
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

  &:hover {
    opacity: .7;
  }
}

abbr,
acronym {
  border-bottom: none !important;
}

.overflow {
  overflow: hidden;
}

.video-container iframe {
  border: 0;
}

iframe[name="advpp_manager"] {
  position: absolute;
  left: -9999px;
}

.s-back-switch {
  background-size: cover;
  background-position: center;
}

.screen-reader-text {
  display: none;
}

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 60px -15px 45px;
  text-align: center;

  &-item {
    padding: 15px;
    margin: 0;
    width: 100%;
  }

  &.gallery-columns-2 {
    .gallery-item {
      width: 50%;
    }
  }

  &.gallery-columns-3 {
    .gallery-item {
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-4 {
    .gallery-item {
      width: 25%;

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-5 {
    .gallery-item {
      width: 20%;

      @include sm-size-max {
        width: 25%;
      }

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-6 {
    .gallery-item {
      width: -webkit-calc(100% / 6);
      width: calc(100% / 6);

      @include sm-size-max {
        width: 25%;
      }

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-7 {
    .gallery-item {
      width: -webkit-calc(100% / 7);
      width: calc(100% / 7);

      @include sm-size-max {
        width: 25%;
      }

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-8 {
    .gallery-item {
      width: 12.5%;

      @include sm-size-max {
        width: 25%;
      }

      @include xs-size-max {
        width: 50%;
      }
    }
  }

  &.gallery-columns-9 {
    .gallery-item {
      width: -webkit-calc(100% / 9);
      width: calc(100% / 9);

      @include sm-size-max {
        width: 25%;
      }

      @include xs-size-max {
        width: 50%;
      }

    }
  }
}

/* Button custom style
---------------------------*/

.cs-btn.cs_layout2 {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  transition: 0.5s;

  &:hover {
    &::after {
      transform: translateX(50%);
    }
  }

  &::after {
    margin-left: 15px;
    font-family: 'Ionicons';
    content: "\f3d6";
    font-weight: 600;
    font-size: 18px;
    transition: transform 0.5s;

  }

  &.aheto-btn--light {
    color: var(--c-white);

    &:hover {
      color: var(--c-active);
    }
  }

  &.aheto-btn--dark {
    color: var(--c-alter);

    &:hover {
      color: var(--c-white);
    }
  }

  &.aheto-btn--primary {
    color: var(--c-active);

    &:hover {
      color: var(--c-white);
    }
  }

}
.aheto-btn{
  i{
    align-items: center;
    display: flex;
  }
}
.cs-btn.cs_layout1 {

  box-shadow: var(--btnShadowColor);
  -webkit-box-shadow: var(--btnShadowColor);

  &:hover {
    background-color: var(--c-active);
  }

  &:before {
    content: '';
    position: absolute;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    left: -6px;
    top: -6px;
    border: 2px solid;
    border-color: var(--c-active);
    box-shadow: var(--btnShadowColor);
    -webkit-box-shadow: var(--btnShadowColor);
  }
}


.t-center {

  .cs-btn.cs_layout2 {
    &:before,
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.t-right {

  .cs-btn.cs_layout2 {
    &:before,
    &:after {
      right: 0;
      left: auto;
    }
  }
}
.wp-block-cover p:not(.has-text-color){
  color: var(--c-light);
}
.wp-block-cover{
  margin-top: 28px;
}
.wp-block-latest-comments{
  margin-left: 20px;
}
a:focus{
  color: var(--c-active);
}
/***************************/
/*  Custom styles for FAMULUS  */
/***************************/

/**
*   Subhead
*/

.aheto-subhead {
  font-family: var(--t-tertiary-font-family);
}

/**
*	Google Map
*/

.gm-style-cc {
  display: none !important;
}

/*
*	Load more btn
*/

.aheto-cpt-load.aheto-cpt-load--button {
  margin-top: 90px;
  @include md-size-max{
    margin-top: 60px;
  }
}

.aheto-cpt .aheto-cpt-filter {
  flex-wrap: wrap;

  a {
    font-weight: bold;
    color: var(--c-alter);
  }
}

.aheto-form-link.aheto-btn--dark [type="submit"],
a.aheto-link.aheto-btn--dark{
  color: var(--c-alter);
  &:hover{
    color: var(--c-active);
  }
}
.aheto-cpt .aheto-cpt-filter{
  --margin: 25px;
  margin: 0 0 35px calc(var(--margin) * -1);
  a{
    font-size: inherit;
    letter-spacing: normal;
  }
  .aheto-cpt-filter__item--all{
    @include xs-size-max{
      margin-right: 15px;
    }
  }
  .aheto-cpt-filter__item:nth-child(2){
    @include xs-size-max {
      margin-left: 15px;
    }
  }
  .aheto-cpt-filter__item{
    @include xs-size-max {
      margin: 4px 15px;
    }
  }
}


/// CPT Pagination
.aheto-cpt {
  .aheto-cpt-pagination {
    .page-numbers {
      line-height: normal;
      &.next, &.prev {
        letter-spacing: 1.39px;
        color: var(--c-alter);
      }
      &:not(.next):not(.prev) {
        letter-spacing: normal;
        color: var(--c-alter);
      }

      &:not(.next):not(.prev).current {
        color: var(--c-white);
      }
    }
  }
}


// Header No Menu

body.logged-in{
  .famulus-header .famulus-header--menu-wrapper .no-menu{
    display: inline-block;
  }
}
body .famulus-header .famulus-header--menu-wrapper .no-menu{
  display: none;
}

.famulus-blog--single-wrapper
.famulus-blog--single__content-wrapper
form input.woocommerce-Input[type=password]{
  border: 1px solid rgba(var(--ca-grey),.1);
}